---
import type { PortfolioItem } from '../types/portfolio-types';
import PortfolioItemComponent from './PortfolioItem.astro';

interface Props {
    items: PortfolioItem[];
}

const { items } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {items.map((item) => <PortfolioItemComponent item={item} />)}
</div>
